#url-error{
  display: none;
}

.alert{
  display: block !important;
  color: red;
}

.planning-area{
  /* allows images to be posted fully to one row before starting next row */
  display: flex;
  flex-wrap: wrap;
}
.planning-img{
  max-width: 100px;
  max-height: 100px;

}
